.road-condition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  /*z-index: 9999;*/

  display: flex;
  align-items: center;
  justify-content: center;
}

.road-condition-content {
  background: var(--light-color);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.cctv-options-container {
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.road-title-menu {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.left-arrow-logo {
  height: 30px;
  filter: brightness(0) invert(1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 30px; /* match text line-height */
}

.road-name {
  margin-left: 10px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 30px; /* match text line-height */
}

.cctv-controls { /* Mid Section */
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5erm;
}

.pause-btn {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
}

.pause-btn:hover {
  background-color: #c82333;
  border-color: #c82333;
  transform: translateY(-1px);
}

.replay-btn {
  background-color: #ffc107;
  /*color: #212529;*/
  color: white;
  border-color: #ffc107;
}

.replay-btn:hover {
  background-color: #e0a800;
  border-color: #e0a800;
  transform: translateY(-1px);
}

.record-btn {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.record-btn:hover {
  background-color: #138496;
  border-color: #138496;
  transform: translateY(-1px);
}

.status-live {
  /*background-color: #16a34a;*/
  background-color: #dc3545;
  /*padding: 14px 10px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: bold;*/
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease;
  border: 3px solid transparent;
  display: inline-flex;
  align-items: center;
  gap: 0.5erm;
}

.close-btn {
  /*position: absolute;
  top: 15px;
  right: 20px;*/
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--light-color);
  font-weight: bold;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 30px; /* match text line-height */
}

.right-side {
  margin-right: 24px;
}


.full-cctv-video {
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
  margin-top: var(--header-h);
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-cctv-video i {
  font-size: 60px;
  color: white;
}