.road-condition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.road-condition-content {
  background: var(--light-color);
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.road-title {
  background-color: var(--primary-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}

.road-name {
  margin-left: 10px;
}

.close-btn {
  /*position: absolute;
  top: 15px;
  right: 20px;*/
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--light-color);
  font-weight: bold;
  margin-right: 15px;
}

.full-cctv-video {
  background-color: #1a1a1a;
  width: 100%;
  height: 80vh;
  margin-top: var(--header-h);
  display: flex;
  align-items: center;
  justify-content: center;
}