.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.road-sidebar-container {
  background: var(--light-color);
  color: var(--dark-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

.road-sidebar-header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  transition: all 0.3s;
  z-index: 100;
}

.road-sidebar-header h2 {
  font-size: 18px;
  line-height: 27px;
}

