.cctv-container {
  margin-left: calc(var(--sidebar-w) + 20px);
  margin-top: calc(var(--header-h) + 20px);
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.cctv-feed {
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.cctv-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
  height: 50px;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.details-right-arrow {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
}

.cctv-info p {
  font-weight: bold;
  font-size: 18px;
  color: var(--dark-color);
  margin-right: -5px;
}

/* Right arrow icon styling: make the SVG appear white */
.icon-right {
  width: 23px;
  height: 23px;
  margin-left: 8px;
  color: var(--dark-color);
}

.cctv-video {
  /*background-color: #1a1a1a;*/
  background-color: #d4d2d2;
  height: 250px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cctv-video i {
  color: #555555;
  font-size: 50px;
}