.sidebar-container {
  background: var(--light-color);
  color: var(--dark-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;

  /* Hide sidebar off-screen initially */
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  z-index: 1000;
}
/* When sidebar is open */
.sidebar-container.open {
  transform: translateX(0);
}

.sidebar-header {
  /*background: rgba(0, 0, 0, 0.2);*/
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: all 0.3s;
  z-index: 100;
}

.sidebar-header-content {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.sidebar-close-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  padding: 5px;
  transition: transform 0.2s ease;
}

.sidebar-close-btn:hover {
  transform: scale(1.1);
}

.sidebar-header h2 {
  font-size: 18px;
  line-height: 27px;
}

.menu-items {
  margin-top: 15px;
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  color: black;
}

.sidebar-link:hover {
 /*background: rgba(255, 255, 255, 0.1);*/
 background: #E8E8E8;
 border: 2px solid var(--primary-color);
 color: var(--primary-color);
}

.sidebar-link.active {
  /*background: rgba(255, 255, 255, 0.15);*/
  background: var(--primary-color);
  color: var(--light-color);
}